:root {
    --bg-body: #141414;
    --bg-primary: #000000;
    --text-primary: #f1f0f0;
    --red-clr: #e71717;
    --hover-clr: #b60f0f;
    --content-clr: #ce3e3e;
}

@media only screen and (max-width: 1196px) {

    /* footer start here */
    #footer {
        flex-direction: column;
        height: auto;
        gap: 1.2rem;
        padding: 0.5rem 0;

    }

    #footer>div:nth-child(1) {
        order: 2;
    }

    #footer>div:nth-child(3) {
        order: 3;
    }

    .footer-left {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-left p {
        text-align: center;
    }

    .footer-right {
        margin: 0 3rem;
    }

    .footer-list>li {
        display: flex;
        margin: 0rem 0.6rem;

    }

    .logout-btn {
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }

    /* footer end here */
}

@media only screen and (max-width: 1178px) {
    .nav-right {
        margin-right: 7rem;
    }
}

@media only screen and (max-width: 1142px) {

    .lower-contact-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    /* subscription container start here */
    .subscription-container .logo-part {
        margin: 0 1rem;
    }

    .input-part input {
        width: 26rem;
    }

    /* subscription container end here */
}

@media only screen and (max-width: 1100px) {
    .nav-right {
        margin-right: 5rem;
    }

}

@media only screen and (max-width: 1045px) {
    #navbar {
        display: flex;
        height: auto;
        max-height: 4.5rem;
        text-align: center;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 1.5rem;
        margin: auto;
        padding: 1rem 0;
        overflow: hidden;
        transition: max-height 0.9s linear;
    }

    #navbar.nav-open {
        max-height: 50rem;
    }

    .nav-left {
        margin-left: 2rem;
        text-align: center;
        margin-top: 0.2rem;
    }

    .middle-nav {
        flex-direction: column;
        gap: 2rem;
        align-items: start;
        justify-content: start;
    }

    .nav-right {
        align-items: start;
        margin: 0;
    }

    .nav-list {
        flex-direction: column;
        gap: 1rem;
        align-items: start;
    }

    .nav-list>li {
        margin: 0rem 2rem;
    }

    #drop-down {
        margin-top: 0.3rem;
    }

    .drop-down-menu {
        top: 9rem;
        left: 1.9rem;
        width: 100%;
        width: 94vw;
        text-align: start;
        border-radius: 0.4rem;
    }

    #toggle-btn {
        margin-left: 2rem;
    }

    #hamburger {
        position: absolute;
        right: -1rem;
        top: 1.7rem;
        display: block;
        color: var(--red-clr);
    }

    .contact-para {
        padding: 0 1.5rem;
    }
}

@media only screen and (max-width: 950px) {

    /* subscription container start here */
    .subscription-container {
        flex-direction: column;
        gap: 1.3rem;
        justify-content: start;
        align-items: start;
        padding: 0 5rem 0 3rem;
    }

    .input-part {
        width: 100%;
    }

    .input-part form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .input-part input {
        flex: 1;
        min-width: 16.25rem;
        width: 100%;
    }

    .social-media-icons {
        margin-left: auto;
    }

    /* subscription container end here */
}

@media only screen and (max-width: 768px) {

    /* footer start here */
    #footer {
        justify-content: start;
        align-items: start;
    }

    .footer-left {
        margin: 0 0 0 2.8rem;
        align-items: start;
        text-align: left;
    }

    .footer-right {
        justify-content: start;
        margin: 0 0 0 2.3rem;
    }

    .footer-right .footer-list {
        flex-direction: column;
        gap: 0.8rem;
    }

    .drop-down-menu {
        width: 92vw;
    }

    .logout-btn {
        margin-left: auto;
        margin-right: 2rem;
    }

    /* footer end here */
}

@media only screen and (max-width: 712px) {
    .contact-container iframe {
        padding: 3rem 2rem 0 2rem;
    }

    .contact-form {
        max-width: 34rem;
        min-width: 17.5rem;
        width: 100%;
        padding: 0rem 2rem;
    }
}

/* confirm box start here */
@media only screen and (max-width: 550px) {
    .confirm-box {
        max-width: 32rem;
        min-width: 17rem;
        width: 100%;
    }
}

/* confirm box start here */

@media only screen and (max-width: 540px) {
    .drop-down-menu {
        width: 90vw;
    }
}

@media only screen and (max-width: 535px) {

    /* subscription container start here */
    .subscription-container {
        justify-content: center;
        align-items: center;
        padding: 0 3rem 0 3rem;
    }

    .subscription-container .logo-part {
        margin: 0 0;
    }

    .input-part {
        margin: auto;
    }

    .input-part form {
        flex-direction: column;
        gap: 0.6rem;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .input-part input {
        border-radius: 2rem;
        margin-left: 0rem;
    }

    .input-part button {
        padding: 1.26rem 1.3rem;
        margin: auto;
    }

    .social-media-icons {
        margin-left: 0;
    }

    /* subscription container end here */
}

@media only screen and (max-width: 578px) {
    .contact-container .contact-info {
        max-width: 29rem;
        min-width: 17.5rem;
        padding: 0 2rem;
        width: 100%;
    }

    .contact-info .contact-info-box-1 {
        width: 100%;
    }
}

@media only screen and (max-width: 430px) {
    .drop-down-menu {
        width: 88vw;
    }

    .h-primary-center h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 405px) {

    /* scroll to top button start here */
    #button {
        bottom: 0.6rem;
    }

    .logout-btn {
        margin-left: 2.7rem;
    }

    /* scroll to top button end here */
}

/* confirm box start here */
@media only screen and (max-width: 400px) {
    .message-box {
        padding: 3rem 2rem;
    }
}

/* confirm box end here */

@media only screen and (max-width: 382px) {
    .contact-second-text {
        word-break: break-all;
        overflow-wrap: break-word;
    }
}

@media only screen and (max-width: 360px) {
    .drop-down-menu {
        width: 86vw;
    }
}

/* confirm box start here */
@media only screen and (max-width: 330px) {
    .message-box {
        font-size: 1rem;
    }
}

/* confirm box end here */

@media only screen and (max-width: 325px) {

    /* subscription container start here */
    .input-part input {
        margin-left: -1.2rem;
    }

    .input-part button {
        margin-left: 2.3rem;
    }
    /* subscription container end here */
}